---
layout: default
---

<div class="progress-bar" aria-hidden="true"></div>

<section class="section" aria-label="Contenido del artículo">
  <div class="container">
    <article class="card-post" aria-labelledby="post-title" itemscope itemtype="https://schema.org/BlogPosting">
      {% include card-image.html item=page loading="eager" %}
      <header class="card-header">
        <h1 class="title is-1" id="post-title" itemprop="headline">{{ page.title | escape }}</h1>
      </header>

      {% include post-meta.html post=page show_author=true %}

      <div class="content">
        {{ content }}
      </div>

      {% include post-tags.html tags=page.tags %}
    </article>
  </div>
</section>
